<form method="get" action="/default/new">
<button type="submit">Add new artist</button>
<button type="submit">Add album</button>
</form>
<p>You have % items in stock</p>
<form method="get" action="/default/index">
<button type="submit">Check stock</button>
</form>
