<form method="get" action="/artists">
<button type="submit">Show artists</button>
</form>
<form method="get" action="/artist/new">
<button type="submit">Add new artist</button>
</form>
<form method="get" action="/album/new">
<button type="submit">Add new album</button>
</form>
<p>You have <%= @stock %> items in stock</p>
<form method="get" action="/album">
<button type="submit">Check stock</button>
</form>
