<form method="get" action="/default">
  <button>Back to main page</button>
</form>

<% @artists.each do |artist| %>
<p><a href="/default/index/<%= artist.id %>"><%= artist.name %> </p>
  <form method="post" action="/default/index/<%= artist.id %>">
    <input type="hidden" name="_method" value="delete">
    <button>Delete artist</button>
  </form>

  <% end %>
