<form method="post" action="/default">

  <div class="field-group">
    <label for="name-field" class="label">Artist name:</label>
    <div class="field">
      <input
        type="text"
        name="name"
        id="name-field"
        placeholder="Artist name"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="title-field" class="label">Album title:</label>
    <div class="field">
      <input
        type="text"
        name="title"
        id="title-field"
        placeholder="Album title"
        required
      />
    </div>
  </div>

  <div class="field-group">
    <label for="quantity-field" class="label">Quantity:</label>
    <div class="field">
      <input
        type="number"
        name="quantity"
        id="quantity-field"
      />
    </div>
  </div>

  <button>Add to stock</button>
</form>
