.index_buttons {
  text-align: center;
}

.main_buttons {
  display: inline-block;
}

#stock_counter {
  text-align: center;
}

/*table formatters*/
.tables {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

/*stock colour formatters*/
.stock_out {
  background-color: red;
}

.low_stock {
  background-color: orange;
}

.medium_stock {
  background-color: yellow;
}

.high_stock {
  background-color: chartreuse;
}
