.tables {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.stock_out {
  background-color: red;
}

.low_stock {
  background-color: orange;
}

.medium_stock {
  background-color: yellow;
}

.high_stock {
  background-color: chartreuse;
}
