<img src="/ricks_records.jpg"</img>
<table class="tables">
  <tr>
    <% @artists.each do |artist| %>
    <td><a href="/artists/<%= artist.id %>"><%= artist.name %></td>
        <td> <form method="post" action="/artist/<%= artist.id %>">
          <input type="hidden" name="_method" value="delete">
          <button>Delete artist</button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>

  <br>

  <form method="get" action="/">
    <button>Back to main page</button>
  </form>
