<form method="get" action="/">
  <button>Back to main page</button>
</form>

<table>
<% @artists.each do |artist| %>
<tr>
<a href="/artists/<%= artist.id %>"><%= artist.name %>
<tr>  <form method="post" action="/artist/<%= artist.id %>">
      <input type="hidden" name="_method" value="delete">
      <button>Delete artist</button>
    </form>
  </tr>
</tr>

  <% end %>
</table>
