<img src="/ricks_records.jpg"</img>
<form method="get" action="/">
  <button>Back to main page</button>
</form>

<form method="post" action="/artist">

  <div class="field-group">
    <label for="name-field" class="label">Artist name:</label>
    <div class="field">
      <input
      type="text"
      name="name"
      id="name-field"
      placeholder="Artist name"
      required
      />
    </div>
  </div>

<button>Add artist</button>
</form>
